main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

section{
    width: 33%;
    text-align: center;
}

label{
    display: block;
}

ol{
    text-align: left;
}

#trackList{
    margin-top: 5em;
    height: 40em;
    overflow: auto;
}

#artistsAlbums{
    height: 12em;
    overflow: auto;
}

.artistImage{
    width: 9em;
    height: 9em;
    border-radius: 10em;
}

#albumList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albumDiv{
    margin: 1em;
}

.albumImage{
    width: 13em;
}