body{
    font-family: "Arial";
    background-color: #161616;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    transition: all 0.3s ease;
}

img:hover{
    -webkit-filter: opacity(0.5) saturate(2);
}

#albumList{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 40em;
    overflow: auto;
}

#artistList{
    max-height: 40em;
    overflow: auto;
    margin-top:4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#trackList{
    margin-top: 4em;
    height: 40em;
    overflow: auto;
}

#artistDiv{
    margin: 0 2em 1em 2em;
}

li{
    color: darkgray;
}

li:hover{
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section{
    width: 33%;
    text-align: center;
}

label{
    display: block;
}

ol{
    text-align: left;
}

#artistsAlbums{
    max-height: 12em;
    overflow: auto;
}

.artistImage{
    width: 9em;
    height: 9em;
    border-radius: 10em;
}

#albumList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albumDiv{
    margin: 1em;
}

.albumImage{
    width: 13em;
}

#trackList{
    list-style-type: disc;
    text-align: left;
}

#trackList li {
    padding: 0.5em 0 0.5em 0.5em;
}

@media screen and (max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section{
        width: 100%;
        text-align: center;
    }

    .trackList{
        width: 50%;
        margin: 0 40% 0 30%;
    }

}

